*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    background-color: #FF5959;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 16px 20px;
    border: 0;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: #FF8000;
}
.header{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    margin-bottom: 100px;
}
.header-title{
    padding: 170px 300px;
    color: white;
    text-align: center;
}
.header-title .title{
    margin-bottom: 20px;
    font-size: 65px;
    font-weight: bold;
}
.header-title .description{
    padding-bottom: 30px;
    width: 700px;
    margin: 0 auto;
}

/* donate today section */

.section-title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.section-description{
    padding-bottom: 30px;
    width: 700px;
    margin: 0 auto;
}
.donate-today{
    text-align: center;
    margin: 0 auto;
}
.amount{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 50px;
}
.amount-content{
    color: #707070;
    background-color: #FAFAFA;
    /* background-color: #FF8000; */
    /* height: 130px;
    width: 130px; */
    padding: 50px 50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
}
.amount-content:hover{
    background-color: #FFEEEE;
    color: #FF5959;
    border: solid;
    border-color: #FF5959;
}

/* donate plan section */

.donate-plan{
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}
.reason-cards{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1300px;
    padding-bottom: 50px;
}
.reason-card-title{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}
.reason-cards-content-1{
    background-color: #edf5f6;
    width: 400px;
    padding: 30px 10px;
}
.reason-cards-content-2{
    background-color: #ffeeee;
    width: 400px;
    padding: 30px 10px;
}
.reason-cards-content-3{
    background-color: #fff4d6;
    width: 400px;
    padding: 30px 10px;
}

/* info section */

.info-section-1{
    text-align: center;
    margin: 0 auto;
    padding: 100px 50px 0 50px;
    display: flex;
    justify-content: space-around;
}
.info-section-content{
    max-width: 550px;
    max-height: 550px;
    padding-top: 100px;
}
.info-section-title{
    font-weight: bold;
    font-size: 45px;
}
.info-section-description{
    margin-top: 50px;
    margin-bottom: 50px;
}
.info-section-image>img{
    width: 550px;
    height: 550px;
    border-radius: 15px;
}

/* updates section */

.updates{
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}
form input[type=email]{
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #d9d9d9;
    border-radius: 5px 0 0 5px;
    border: none;
  }
form input[type=submit]{
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #ff5959;
    border-radius: 0 5px 5px 0;
    border: none;
}
form input[type=submit]:hover{
    background-color: #FF8000;
}

/* footer section */

footer{
    max-height: 150px;
    background-color: #707070;
    margin-bottom: 0;
    padding: 50px 0 50px 0;
}
footer p{
    /* font-weight: bold; */
    color: white;
    text-align: center;
}